/* prata-regular - latin_cyrillic */
@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/prata-v9-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Prata Regular'), local('Prata-Regular'),
       url('../fonts/prata-v9-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/prata-v9-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/prata-v9-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/prata-v9-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/prata-v9-latin_cyrillic-regular.svg#Prata') format('svg'); /* Legacy iOS */
}
/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v10-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Prata', sans-serif;
  font-size: 32px;
}

h2 {
  font-family: 'Prata', sans-serif;
  font-size: 30px;
  color: #000;
  font-weight: normal;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
p{
  font-size: 16px;
}

body{
  min-width: : 320px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  line-height: 1.35;
}

/*HEADER*/
.container { 
  height: 100%;
  margin: 0 auto;
} 

.container-header {
  width: 290px;
}

.header {
  width: 100%;
  z-index: 1;
  height: 50px;
}

.header-wrap {
  display: flex;
  padding-top: 20px;
  height: 100%;
}

.logo {
  z-index: 2;
  position: absolute;
}

.logo__img {
}

/*MENU*/
.main-menu {
  position: relative;
}

.burger {
  position: absolute;
  right: -290px;
  bottom: 0;
}

.burger {
  z-index: 2;
  font-size: 0;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
}

.burger:before,
.burger:after {
  content: '';
  transition: all 0.5s;
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #fff;
}

.burger:before {
  top: 0;
  left: 0;
}

.burger:after {
  bottom: 0;
  left: 23px;
}

.span-burger:before,
.span-burger:after {
  content: '';
  transition: all 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 2px;
  background-color: #fff;
}
/*бургер в состоянии открытого меню*/
.burger--open .span-burger:before{
  transform: rotate(-135deg);
}

.burger--open .span-burger:after{
  transform: rotate(-45deg);
}

.burger--open .burger:before {
  transform: translate(-100%);
  opacity: 0;
}

.burger--open .burger:after {
  transform: translate(100%);
  opacity: 0;
}

.main-menu__list {
  display: flex;
  z-index: 1;
  position: absolute;
  list-style: none;
  display: none;
 } 

 .main-menu--open {
  display: flex;
  z-index: 1;
  position: absolute;
  list-style: none;
  width: 320px;
  flex-direction: column;
  top: -35px;
  left: -15px;
  background-color: #000;
  padding: 75px 15px;
  padding-bottom: 10px;
}

.main-menu__item {
  padding-bottom: 15px;
}

.main-menu__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

/*PROMO*/
.promo {
  padding:0 15px;
  margin: 0 auto;
  display: flex;
  background-image: url(../image/xs-bg_main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  top: -55px;
  z-index: 0;
  margin-bottom: -50px;
}

.promo__content {
  line-height: 1.35;
  margin: 0;
  height: 480px; 
  padding-top: 150px;
}

.promo__title {
  margin: 0;
  font-weight: normal;
  width: 260px;
}

.promo__text {
  padding: 20px 0;
  margin: 0;
  font-weight: normal;
  width: 210px;
}

.promo-button__wrap {
  
}

.promo-button{
  border: 0;
  text-align: center;
  width: 290px;
  height: 50px;
  background-color: #eec643;
  padding: 15px 0; /*можно ли выровнять по вертикали без паддингов?*/
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

/*DIRECTIONS*/
.directions {
  padding: 20px 15px;
}

.advantages__container{

}

.directions__title-wrap {
  width: 80%;
  margin: 10px 0px 15px;
  padding-left: 10px;
  padding-right: 40px;
  border-top: 2px solid #eec643;
  border-bottom: 2px solid #eec643;;
}

.directions__title {
  margin: 0;
}

.directions__list {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.directions__item {
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
}

.directions__item-content {
  width: 90%;
  height: 100%;
  padding: 25px 10px;
}

.directions__item-title {
  margin: 0;
  font-weight: bold;
}

.directions__item-text {
  margin: 0;
  flex-direction: column;
}

.xsmall-hidden {
  display: none;
}

.directions__item--piano {
  margin: 0;
  width: 72%;
}

.directions__item--button {
  position: relative;
  margin: 0;
  overflow: hidden;
  width: 22%;
  background-color: #eec643;
}

.directions__button {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  bottom: -40px;
  color: black;
  font-size: 16px;
  padding-top: 10px;
  text-transform: uppercase;
}

/*ADVANTAGES*/
.advantages {
  display: flex;
  padding: 20px 15px;
  padding-top: 0;
}

.advantages__title-wrap {
  margin: 10px 0px 15px;
  padding-left: 10px;
  padding-right: 40px;
  border-top: 2px solid #eec643;
  border-bottom: 2px solid #eec643;
}

.advantages__title {
  margin: 0;
}

.under-title {
  width: 100%;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages__item {
  height: 150px;
  margin-bottom: 15px;
}

.advantages__item-content {
  width: 210px;
  padding: 30px 10px;
}

.advantages__item-title {
  margin: 0;
  font-weight: bold;
}

.advantages__item-text {
  margin: 0;
}

.xsmall-hidden {
  display: none;
}

.advantages__item--studio {
  width: 72%;
  margin-bottom: 0;
}

.advantages__item--button {
  position: relative;
  margin: 0;
  overflow: hidden;
  width: 22%;
  background-color: #eec643;
}

.advantages__button {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  bottom: -40px;
  font-size: 16px;
  text-align: left;
  padding-top: 10px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
}

/*VIDEO*/
.video{
  margin: 20px;
}
.video__title-wrap {
  width: 80%;
  margin: 10px 0px 15px;
  padding-left: 10px;
  padding-right: 40px;
  border-top: 2px solid #eec643;
  border-bottom: 2px solid #eec643;
}

.video__title {
  margin: 0;
}

.video__sliden-slick {
  position: relative;
}

.play {
  position: absolute;
  width: 1px;
}

.play-small {
  top: 40%;
  left: 45%;
  background-color: transparent;
  border-top: 20px solid transparent;
  border-left: 30px solid #eec643;
  border-bottom: 20px solid transparent;
  border-right: 30px solid transparent;
}

.video__slider {
  position: relative;
}

.video__slider-img {
  width: 85%;
  margin: 0 auto;
}

.caption__name {
  font-weight: bold;
  position: absolute;
  top: 90px;
  left: 35px;
  font-size: 18px;
}

.caption__description {
  font-size: 16px;
  position: absolute;
  top: 115px;
  left: 35px;
}

/*slider-start*/

.video__slider {
}

.video__sliden-slick .slick-arrow {
  z-index: 1;
  position: absolute;
  font: 0/0 a;
  color: transparent;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background: transparent;
  transform: translateY(-50%);
}

.video__sliden-slick .slick-arrow:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-top: 1px solid #eec643;;
}

.video__sliden-slick .slick-prev {
  left: 0;
}

.video__sliden-slick .slick-prev:before {
  border-left: 1px solid #eec643;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.video__sliden-slick .slick-next {
  right: 0;
}

.video__sliden-slick .slick-next:before {
  border-right: 1px solid #eec643;;
  transform: translate(-50%, -50%) rotate(45deg);
}
/*slider-end*/

/*CONTACTS*/

.contacts {
  padding: 20px 15px;
  padding-top: 0;
}

.contacts__content

.contacts__title-wrap {
  width: 80%;
  margin: 10px 0px 15px;
  padding-left: 10px;
  padding-right: 40px;
  border-top: 2px solid #eec643;
  border-bottom: 2px solid #eec643;
}

.contacts__title {
  margin: 0;
}

.contacts__text-wrap {
  margin: 15px;
}

.contacts__text {
  margin: 0;
  font-style: normal;
  color: #000;
}

.contacts__tel {
  margin: 0;
  text-decoration: none;
  color: #000;
}

.contacts__map

.contacts__button-wrap {
}

.contacts__button {
  margin: 10px 0;
  border: 0;
  text-align: center;
  width: 290px;
  height: 50px;
  background-color: #eec643;
  padding: 15px 0; /*можно ли выровнять по вертикали без паддингов?*/
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

.contacts__form {
  display: none;
}
/*__________________________________________________________*/
@media (min-width: 768px) {
  body {
}

h1 {
  font-family: 'Prata', sans-serif;
  font-size: 55px;
}

h2 {
  font-family: 'Prata', sans-serif;
  font-size: 50px;
  color: #000;
  font-weight: normal;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  font-weight: normal;
}

p{
  font-size: 20px;
}

.container { 
  width: 1170px;
  display: flex;
  position: relative;
}

.xsmall-hidden {
  display: block;
}

.medium-hidden {
  display: none;
}
/*HEADER*/
.logo {
  position: relative;
}

.header {
  width: 100%;
}

.header-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.main-menu {
  justify-content: flex-end;
}

.main-menu__list {
  position: relative;
  list-style: none;
  justify-content: flex-end;
  width: 100%;
  flex-direction: row;
  top: -15px;
  left: 0;
  background-color: transparent;
  padding: 0;
  display: flex;
}

.main-menu__item {
  flex-direction: row;
  padding: 0 15px;
  text-transform: uppercase;
}

.main-menu__link {
  text-decoration: none;
  color: #021a23;
}
.burger {
  display: none;
}

/*PROMO*/
.promo {
  height: 760px;
  width: 1280px; 
  display: flex;
  background-image: url(../image/bg_main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -70px;
}

.container__promo {
  align-items: center;
  justify-content: space-between;
}

.promo__content {
  padding: 110px 0;
  flex-direction: row;
  width: 70%;
}

.promo__title {
  margin: 0;
  font-weight: normal;
  width: 90%;
}

.promo__text {
  padding: 20px 0;
  margin: 0;
  font-weight: normal;
  width: 59%;
}

/*Общие для формы*/
.form {
  position: relative;
  flex-direction: row;
  width: 23.6%;
  opacity: 0.9;
  color: #000;
}

.form__container{
  padding: 10px 20px 0 30px;
}

.form__content {
  padding: 40px 0;
}

.form__item {
  background-color: transparent;
  width: 100%;
  margin-bottom: 15px;
  border: 0;
  color: gray;
  font-size: 20px;
  -webkit-appearance: none;
  border-radius: 0;
}

.form__button {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border: 0;
  color: #fbf6e5;
  font-size: 20px;
  text-transform: uppercase;
}

.form__title {
  font-weight: bolder;
  margin: 10px 0;
  font-size: 30px;
}

.form__text {
  margin: 10px 0;
  font-size: 20px;
}

/*Модифицированные элементы формы*/
.form--promo {
  border: 2px solid #021a23;
  background-color: #fbf6e5;
  height: 420px;
}

.form__title--promo {

}

.form__item--promo {
  border-bottom: 2px solid black;
}

.form__button--promo {
  background-color: #021a23;
}

/*DIRECTIONS*/
.directions {
  position: relative;
  display: flex;
  height: 530px;
  padding: 0;
  margin: 30px 0;
}

.directions__container {
  height: 100%;
  justify-content: space-between;
}

.directions__title-wrap {
  position: absolute;
  bottom: -70px;
  left: 0;
  margin: 0;
  width: 530px;
  flex-direction: row;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  padding: 0;
}

.directions__list {
  align-content: space-between;
  width: 100%;
  padding-left: 8.546%;
  justify-content: space-between;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.directions__title{
  padding: 0;
}

.directions__item {
  flex-direction: row;
  height: 47.17%;
  margin: 0;
}

.directions__item-content {
  width: 310px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.directions__item-price {
  font-weight: bold;
}

.directions__button {
  color: #fff;
  padding: 0;
  font-weight: bold;
  text-transform: none;
  position: static;
  transform: rotate(0deg);
  font-size: 30px;
  text-transform: none;
}

.directions__item--guitar {
  width: 43.965%;
  order: 1;
}

.directions__item--singing {
  margin-right: 0;
  width: 53.268%;;
  order: 2;
}

.directions__item--piano {
  width: 43.965%;
  order: 3;
}

.directions__item--lections {
  margin-top: 0;
  width: 25.233%;
  order: 4;
}

.directions__item--button {
  padding: 15px 30px;
  width: 25.233%;
  order: 5;
}

/*ADVANTAGES*/
.advantages {
  margin-top: 90px;
  display: flex;
  height: 530px;
}

.advantages__container {
  justify-content: space-between;
}

.advantages__title-wrap {
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 13.207%;
}

.advantages__title {
  margin: 0;
}

.advantages__list {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  width: 48.718%;
  height: 100%;
}

.advantages__list--2 {
  flex-direction: row;
}

.under-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 81.133%;
}

.advantages__item {
  flex-direction: row;
  width: 47.368%;
  height: 100%;
}

.advantages__item-content {
  width: 100%;
  padding: 15px 10px 0 25px;
}

.advantages__item-title {
  padding-bottom: 20px;
}
.advantages__item--staff {
  margin: 0px;
}

.advantages__item--studio {
  margin: 0;
  width: 47.368%;
}

/*Модифицированные элементы формы*/
.form--advantages {
  height: 100%;
  width: 47.368%;
  margin: 0;
  border: 2px solid #eec643;
  background-color: #fff;
}

.form__title--advantages {

}

.form__item--advantages {
  border-bottom: 2px solid #eec643;
}

.form__button--advantages {
  background-color: #eec643;
}

/*VIDEO*/
.video {
  margin: 90px 0;
  position: relative;
  display: flex;
  height: 530px;
}

.video__container {
  justify-content: flex-end;
}

.video__title-wrap {
  position: absolute;
  bottom: -70px;
  left: 0;
  margin: 0;
  width: 530px;
  flex-direction: row;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

.video__sliden-slick {
  justify-content: space-between;
  align-content: space-between;
  padding-left: 8.547%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}

.slider__single {
  height: 100%;
  width: 72.1%;
}

.slider__column {
  width: 25.174%;
  height: 29.56%;
}

.video__slider-img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.play-big {
  top: 45%;
  left: 50%;
  background-color: transparent;
  border-top: 30px solid transparent;
  border-left: 40px solid #eec643;
  border-bottom: 30px solid transparent;
  border-right: 40px solid transparent;
}

.slider__single .caption__name {
  font-size: 30px;
  top: -10px;
  left: 40px;
}

.slider__single .caption__description {
  font-size: 20px;
  top: 70px;
  left: 40px;
  width: 250px;
}
.caption__description-1 , .caption__description-2 {
  margin: 0;
}

.caption__name {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  left: 10px;
}

.caption__description {
  font-size: 14px;
  position: absolute;
  bottom: 0px;
  left: 10px;
}

/*CONTACTS*/
.contacts {
  width: 100%;
  height: 530px;
}

.contacts__container {
  justify-content: space-between;
}

.contacts__content {
  flex-direction: row;
  width: 74.3591%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
}

.contacts__wrap {
  display: flex;
  width: 100%;
  height: 17%;
}

.contacts__title-wrap {
  flex-direction: row;
  width: 75%;
  margin: 0px 0px 0px;
}

.contacts__text-wrap {
  flex-direction: row;
  margin-left: 30px;
  width: 25%;
}

.contacts__map {
  flex-direction: column;
  height: 81%;
  width: 100%;
}

.contacts__form {
  flex-direction: row;
  width: 23.0769%;
}

/*Модифицированные элементы формы*/
.form--contacts {
  margin-right: 0;
  width: 23.0769%;
  border: 2px solid #eec643;
  background-color: #fff;
}

.form__title--contacts {
  color: #eec643;
}

.form__item--contacts {
  border-bottom: 2px solid #eec643;
}
.form__button--contacts {
  background-color: #eec643;
}

/*FOOTER*/
.footer {
  margin-top: 90px;
}

.footer-logo__img {
width: 45px;
}

.footer__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.footer-menu {
  align-items: center;
  width: 33%;
  display: flex;
  justify-content: space-between;
}

.footer-menu__item {
  text-transform: uppercase;
  text-decoration: none;
  color: #021a23;
  font-size: 12px;
}